@font-face {
    font-family: "mcfont"; /* You can name your font family anything you like */
    src: url("fonts/MinecraftRegular-Bmg3.otf") format("truetype"); /*  Specify the path to your font file and the format */
    font-weight: normal;  /* Define the weight if applicable (e.g., normal, bold) */
    font-style: normal;   /* Define the style (e.g., normal, italic) */
}
h1 {
    font-family: "mcfont", sans-serif; /* Apply your custom font to H1 elements, with a fallback */
}
